.calc-container {
    // border: 3px solid #dc143c;
    background-color: #f4f4f4;

    min-height: 100vh;
    max-width: 100%;

    padding: 5vh 5vw;

}

.calculator {
    
    .calc-title {
        text-align: center;
        border-bottom: 2px solid #000;
        padding-bottom: 1rem;

        h1 {
            text-transform: capitalize;
            text-wrap: balance;
            font-size: clamp(1.5rem, 4vw, 2rem);
            margin-bottom: 0.5rem;
        }

        p {
            text-wrap: pretty;
        }

        label {
            color: crimson;
            display: block;
            text-transform: capitalize;
        }

        input {
            font-size: 1.25rem;
            font-weight: 600;
            padding: 0.25rem;
            position: relative;
            border-color: transparent;
            border-bottom-color: crimson;
        }

    }

    
    form {
        // padding-block: 5vh;
        // border: 1px solid red;
        @media only screen and (min-width: 600px) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: start;
                gap: 10vw;
                padding: 5vh 5vw;

                input {
                    width: 100%;
                }

                .form-input {
                    // border: 1px solid red;
                    flex-basis: 50%;
                }
                .form-output {
                    // border: 1px solid green;
                    flex-basis: 50%;
                    background: #fff;
                    padding: 1rem;
                    margin-bottom: 0;
                }
            }

        button {
                display: block;
                margin: 1rem auto;
                text-transform: uppercase;
                padding: .5rem 1rem;
                width: 70%;
                border-radius: 0.25rem;
                color: #fff;
                border-color: transparent;
                background: linear-gradient(0deg, hsl(348, 83%, 27%), crimson);
                transition: 150ms linear;
                border: none;

                &:active {
                    scale: .95;
                }
            }

        label {
            display: block;
            text-transform: capitalize;
            font-weight: 600;
        }

        input, select {
            margin-bottom: 1.5rem;
            position: relative;
            width: 100%;
            padding: 0.25rem;
        }

        .form-output {
            // border: 1px solid red;
            background-color: #ffff;
            padding: 1rem;
            margin-bottom: 5vh;
            
            .emp {
                position: relative;
                text-align: center;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -1rem;
                    left: 50%;
                    translate: -50% 0;
                    width: 50%;
                    height: 0.5rem;
                    border-top-right-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                    background: linear-gradient(90deg, #dc143c 40%, hsl(348, 83%, 17%));
                }
                .emp-title {
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 1.25rem;
                }
    
                .emp-amount {
                    font-size: 1.5rem;
                    color: #dc143c;
                    font-weight: 700;
                    span {
                        // font-size: 1.25rem;
                        font-weight: 400;
    
                    }
                }

            }

            .outputs {
                // border: 1px solid red;
                margin-top: 5vh;

                p {
                    display: flex;
                    justify-content: space-between;
                    text-transform: uppercase;
                    border-bottom: 1px solid blue;
                    padding-bottom: 0.25rem;

                    span {
                        color: blue;
                    }

                }

            }
            
            

        }
    }
}